.text span {
    opacity: 0;
 }
 .text span.revealed {
    opacity: 1;
 }
 .text span.green {
    color: #27ae60;
 }
 .text span.red {
    color: #ff0000;
 }

/* Demo styles */
 body {
    background: #000000;
    padding: 3em;
    /* font-family: fantasy, monospace; */
 }
 .text {
    font-size: 40px;
    word-spacing: 0.2em;
    margin: 0 auto;
    background: #d4caca;
    padding: 1em;
    /* border-bottom: 1vw solid #95ad0e; */
    /* position:center; */
    line-height: 1.2em;
    margin: 0;
    position: absolute;
    top: 500px;
    height: 140px;
    width: 1100px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
 }
 /* .corner {
    position:absolute;
    width: 10vw;
    right:2vw;
    bottom:0;
    transform: translateY(80%); 
 } */